<div class="left-content">
  <div class="post-content">
    <h1><%= @post.title %></h1>
    <p class="lists-tag">
      <% if @tag_of_post.present? %>
        <% @tag_of_post.each do |tag| %>
          <span class="title-tags"><%= link_to tag.tag_name, tag_path(tag) %> </span>
        <% end %>
      <% end %>
    </p>
    <div class="clearfix"></div>
    <p class="info">
      <span class="user-name"><i class="fa fa-user"></i><%= @post.user.username %></span>
      <span class="link"><i class="fa fa-edit"></i><%= @post.link %></span>
    </p>
    <p><%= @post.content.html_safe %></p>

    <div class="comments">
      <hr>
      <h3>Comments</h3>
      <div class="form-comment">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag  "profile-1.jpg", class: "avatar img-circle" %>
          </div>
          <div class="col-md-10">
            <%= render "comments/form" %>
          </div>
        </div>
      </div>
      <%= render "comments/comment", comments: @post.comments %>
    </div>
  </div>
</div>
<div class="right-content">
  <div class="tb-block" style="background: white; padding:5px;">
    <div class="item-author">
      <div class="row">
        <div class="col-md-4">
          <div class="img-user">
            <%= gravatar_for @post.user %>
          </div>
          <div class="btn-follow">
            Follow
          </div>
        </div>
        <div class="col-md-8">
          <div class="infor-user">
            <p class="name"><%= link_to @post.user.username, @post.user %></p>
            <p class="email"><%= @post.user.email %></p>
             <p><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Posts"></i><%= User.number_post @post.user.id %></p>
          </div>
        </div>
      </div>
    </div>
    <% if @post_clip_saved.present? %>
      <div class="btn-clips saved">
        <%= link_to "Unclip this post", post_post_clips_path(@post), method: :post, class: "fa fa-paperclip" %>
      </div>
    <% else %>
      <div class="btn-clips">
        <%= link_to "Clip this post", post_post_clips_path(@post), method: :post, class: "fa fa-paperclip" %>
      </div>
    <% end %>
    <div class="list-avatar-user">
      <% @user_cliped.each do |user| %>
        <%= gravatar_for user, {size: 30} %>
      <% end %>
    </div>
    <hr>
  </div>

  <div class="tb-block">
    <div class="tb-block-head">
      <h4><span>Related</span></h4>
    </div>
    <div class="item-author" style="background: white;">
      <% @posts_related.each do |post| %>
        <div class="row item-related">
          <div class="col-md-4">
            <div class="img-post-related">
              <%= default_img post.image.url %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="infor-user">
              <p class="name"><%= link_to post.title, post %></p>
              <p class="email"><%= post.user.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
