<div class="left-content">
  <div class="post-content">
    <h3><%= @post.title %></h3>
    <p class="info">
      <span class="user-name"><i class="fa fa-user"></i><%= current_user.username %></span>
      <span class="link"><i class="fa fa-edit"></i><%= @post.link %></span>
    </p>
    <div class="post-relate">
      <h4>Posts related</h4>
      <ul>
        <% @posts_related.each do |p| %>
          <li><%= link_to p.title, p %></li>
        <% end %>
      </ul>
    </div>
    <p><%= @post.content.html_safe %></p>

    <div class="comments">
      <hr>
      <h3>Comments</h3>
      <div class="form-comment">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag  "profile-1.jpg", class: "avatar img-circle" %>
          </div>
          <div class="col-md-10">
            <%= render "comments/form" %>
          </div>
        </div>
      </div>
      <%= render "comments/comment", comments: @post.comments %>
    </div>
  </div>
</div>
